/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.top-pixel-container, .bottom-pixel-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Estilos específicos para el contenedor inferior */
.bottom-pixel-container {
    align-items: center;
    padding: 10px; /* Espacio alrededor de los subcontenedores */
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centra horizontalmente los subcontenedores */
    width: 100%; /* Ocupa todo el ancho de la pantalla */
}


.row-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80px; /* Ancho fijo en píxeles de cada subcontenedor (16 píxeles de 5x5) */
    height: 80px; /* Altura fija en píxeles de cada subcontenedor (16 filas de 5x5) */
    justify-content: center; /* Alinear hacia el inicio para que los contenedores estén juntos */
    align-content: flex-start; /* Alineación vertical para que las filas estén justo debajo de otras */
    margin: 70px;
}

.row-container .pixel {
    width: 5px;
    height: 5px;
    margin: 0;
    padding: 0;
}
.wordContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh; /* Margen superior */
    margin-bottom: 10vh; /* Margen inferior */
    font-family: 'SF Pixelate', sans-serif;
    font-size: 1.5em; /* Tamaño de fuente */
}
